{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "printWidth": 120,
  "semi": false,
  "tabWidth": 4,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "trailingComma": "none"
}
